
$primary-font: 'Roboto Serif', serif;
$secondary-font: 'Koulen', cursive;
$third-font: 'Nunito', sans-serif;
$clock: 'Orbitron', sans-serif;
$clock2: 'Iceland', cursive;

$red: rgb(248, 105, 105);
$green: rgb(146, 241, 146);
$blue: rgb(74, 121, 248);
$yellow: rgb(243, 243, 146);