@import "../styles/variables";


.game {

  .red {
    background-color: red;
  }

  .middle {

    .green {
      background-color: green;
    }
  
    .blue {
      background-color: blue;
    }
  }

  .yellow {
    background-color: yellow;
  }



}

