@import "../styles/variables";
@import "~bootstrap/scss/bootstrap";

.container {
  text-align: center;

  .game {
    display: flex;
    //flex-flow: column;
    flex-direction: column;
    justify-content: center;
    margin-top: 3em;
    align-items: center;
    margin-left: 29em;
    width: 30%;

    #level {
      color: white;
      font-family: $clock;
      font-size: 21px;
      padding-bottom: 1em;
      color: $green;
    }

    #time {
      font-family: $clock;
      color: $green;
      position: relative;
      width: 67px;
      height: 35px;
      border-radius: 8px;
      background-color: grey;
      padding-top: 0.3em;
    }
    
  
    .red {
      border: 8px solid $red;
      background-color: black;
      width: 14em;
      height: 14em;
      border-radius: 50%;
      text-align: center;
      //margin-left: 19em;
      cursor: pointer;
      display: flex;
      justify-content: center;
    }
  
    .middle {
      display: flex;
      justify-content: space-between;

      .green {
        border: 8px solid $green;
        background-color: black;
        width: 16em;
        height: 14em;
        border-radius: 50%;
        cursor: pointer;
        margin-right: 7em;
      }

      .mid {
        margin-top: 5em;
        width: 20%;

        #count {
          position: relative;
          width: 57px;
          height: 35px;
          border-radius: 8px;
          background-color: grey;
          margin-left: 2.8em;
          
          span {
            position: absolute;
            font-size: 20px;
            font-family: $clock;
            font-weight: bold;
            color: rgb(61, 61, 61);
            text-align: center;
            display: flex;
            padding-left: 0.6em;
            padding-top: 0.1em;
          }

          label {
            color: white;
            font-family: $clock2;
            padding-top: 0.5em;
          }
        }
        
        
        .start {
          display: inline-block;
          font-family: $clock;
          height: 2em;
          width: 4em;
          font-weight: bold;
          border-radius: 4px;
          background-color: white;
          border-color: white;
          // text-shadow: 0 0.5 0.5em white ;
          // opacity: 1.7;
          // box-shadow: inset 0 0 1em 0 white,
          // 0 0 2.8em 0 white;
        }

        .strict {
          display: inline-block;
          width: 4em;
          font-family: $clock;
          height: 2em;
          font-weight: bold;
          border-radius: 4px;
          background-color: orange;
          border-color: orange;
          text-shadow: 0 0.5 0.5em orange ;
          opacity: 1.7;
          // box-shadow: inset 0 0 1em 0 $yellow,
          // 0 0 2.8em 0 $yellow;
        }

      }
    
      .blue {
        border: 8px solid $blue;
        background-color: black;
        width: 16em;
        height: 14em;
        border-radius: 50%;
        cursor: pointer;
        margin-left: 7em;
      }
    }
  
    .yellow {
      border: 8px solid $yellow;
      background-color: black;
      width: 14em;
      height: 14em;
      border-radius: 50%;
      //margin-left: 19em;
      cursor: pointer;
    }
  
  
  
  }
}

.close_btn {
  margin-left: 92%;
  margin-top: 0.5em;
  margin-right: 0.5em;
  text-align: center;
  background-color: $red !important;
  font-weight: bold;
}

.alert {
  font-weight: bold;
  font-size: 18px;
}

.strict-neon {
  display: inline-block;
  width: 4em;
  font-family: $clock;
  height: 2em;
  font-weight: bold;
  border-radius: 4px;
  background-color: orange;
  border-color: orange;
  text-shadow: 0 0.5 0.5em orange ;
  opacity: 1.7;
  box-shadow: inset 0 0 1em 0 orange,
  0 0 2.8em 0 orange;
}

.red-neon {
  border: 8px solid $red;
  background-color: $red;
  width: 14em;
  height: 14em;
  border-radius: 50%;
  text-align: center;
  cursor: pointer;
  display: flex;
  justify-content: center;

  text-shadow: 0 0.5 0.5em $red ;
  opacity: 1.7;
  box-shadow: inset 0 0 1em 0 $red,
  0 0 2.8em 0 $red;

  position: relative;
}

.green-neon {
  border: 8px solid $green;
  background-color: $green;
  width: 16em;
  height: 14em;
  border-radius: 50%;
  margin-right: 7em;
  text-align: center;
  cursor: pointer;
  display: flex;
  justify-content: center;

  text-shadow: 0 0.5 0.5em $green ;
  opacity: 1.7;
  box-shadow: inset 0 0 1em 0 $green,
  0 0 2.8em 0 $green;

  position: relative;
}

.blue-neon {
  border: 8px solid $blue;
  background-color: $blue;
  width: 16em;
  height: 14em;
  border-radius: 50%;
  margin-left: 7em;
  text-align: center;
  cursor: pointer;
  display: flex;
  justify-content: center;

  text-shadow: 0 0.5 0.5em $blue ;
  opacity: 1.7;
  box-shadow: inset 0 0 1em 0 $blue,
  0 0 2.8em 0 $blue;

  position: relative;
}


.yellow-neon {
  border: 8px solid $yellow;
  background-color: $yellow;
  width: 14em;
  height: 14em;
  border-radius: 50%;
  text-align: center;
  cursor: pointer;
  display: flex;
  justify-content: center;

  text-shadow: 0 0.5 0.5em $yellow ;
  opacity: 1.7;
  box-shadow: inset 0 0 1em 0 $yellow,
  0 0 2.8em 0 $yellow;

  position: relative;
}