@import "../styles/variables";
@import "~bootstrap/scss/bootstrap";

.intro {
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 2em;

  p {
    font-family: $clock2;
    font-size: 40px;
    font-weight: bold;
    margin-left: 0.5em;
  }

}

.info {
  margin-right: -100em;
  margin-top: -4em;

  .instructions {
    background-color: $red !important;
    border-color: $red !important;
    font-family: $third-font;

  }

  .login {
    background-color: grey;
    width: 6em;
    height: 2.6em;
    border-radius: 8px;
    font-family: $third-font;
  }

  .register {
    background-color: grey;
    width: 6em;
    height: 2.6em;
    border-radius: 8px;
    font-family: $third-font;
  }

}

#fun {
  color: $red;
}
.close {
  background-color: $red !important;
  border-color: $red !important;
  font-family: $third-font;
}

.modal-header {
  border-bottom: none !important;
  font-family: $clock;
  margin-left: 7em;
  font-weight: bolder;
}

.modal-body {
  font-family: $third-font;
}