@import "../styles/variables";
@import "~bootstrap/scss/bootstrap";

.modal-header {
  border-bottom: none !important;
}

.modal-footer {
  border-top: none !important;
}

.login-title {
  padding-left: 3.4em;
  font-family: $clock;
  font-weight: bold !important;
  font-size: 30px;
}

.modal-body {
  font-family: $third-font;
  
}

label.form-label {
  font-weight: bold;
}

#login {
  background-color: grey !important;
  border: none !important;
  border-radius: 3px;
  color: black;
  font-weight: bold;
  text-align: center;
  font-family: $third-font;
}

input:focus {
  border-color: grey !important;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px grey !important;
  background-color: white !important;
}