@import "../styles/variables";
@import "~bootstrap/scss/bootstrap";

.modal-header {
  border-bottom: none;
}

.modal-footer {
  border-top: none !important;
}

.register-title {
  padding-left: 3.1em;
  font-family: $clock;
  font-weight: bold !important;
  font-size: 30px;
}

.modal-body {
  font-family: $third-font;
}

label.form-label {
  font-weight: bold;
}

#register {
  background-color: grey !important;
  border: none !important;
  border-radius: 3px;
  color: black;
  font-weight: bold;
  text-align: center;
  font-family: $third-font;
}